<div class="pagelist-article">
  <a href="{page.link}" target="{page.target}" title="{page.data.title}">
    <figure>
      <f:if condition="{page.files.0}">
        <f:then>
          <img src="<f:uri.image image="{page.files.0}" treatIdAsReference="1" width="1200c" height="600c" />" />
        </f:then>
        <f:else>
          <f:image class="pagelist-img-dummy" src="EXT:pagelist/Resources/Public/Images/clear.png" width="1200c" height="600c" />
        </f:else>
      </f:if>
    </figure>
    <div class="pagelist-article-text">
      <h2 class="pagelist-article-title">{page.data.title}</h2>
      <f:if condition="{page.data.author} || {page.data.lastUpdated}">
        <p class="pagelist-article-info">
          <f:if condition="{page.data.author}">{page.data.author}</f:if>
          <f:if condition="{page.data.author} && {page.data.lastUpdated}"> • </f:if>
          <f:if condition="{page.data.lastUpdated}"><f:format.date format="j. M Y">{page.data.lastUpdated}</f:format.date></f:if>
        </p>
      </f:if>
      <f:if condition="{page.data.abstract}">
        <p class="pagelist-article-abstract">{page.data.abstract}</p>
      </f:if>
    </div>
  </a>
</div>
