<div class="item event">
  <f:link.page pageUid="{page.data.uid}" target="{page.data.target}" title="{page.data.title}">
    <f:if condition="{page.data.tx_pagelist_datetime}">
      <p class="dates">
        <span class="day"><f:format.date format="j.">{page.data.tx_pagelist_datetime}</f:format.date></span>
        <span class="month"><f:format.date format="M">{page.data.tx_pagelist_datetime}</f:format.date>, <f:format.date format="Y">{page.data.tx_pagelist_datetime}</f:format.date></span>
      </p>
    </f:if>
    <div class="text">
      <h3 class="title">{page.data.title}</h3>
      <f:if condition="{page.data.tx_pagelist_eventlocation}">
        <p class="info location">
          ☉ {page.data.tx_pagelist_eventlocation}
        </p>
      </f:if>
      <f:if condition="{data.tx_pagelist_disableabstract} == 0">
        <f:if condition="{page.data.abstract}">
          <p class="abstract">{page.data.abstract}</p>
        </f:if>
      </f:if>
    </div>
  </f:link.page>
</div>
