<div class="item vacancy{f:if(condition: '{data.tx_pagelist_disableimages} == 1', then: ' noimage')}{f:if(condition: '{data.tx_pagelist_disableabstract} == 1', then: ' nointroduction')}">
    <f:link.page pageUid="{page.data.uid}" target="{page.data.target}" title="{page.data.title}">
        <{f:if(condition: '{data.tx_pagelist_titlewrap}', then: '{data.tx_pagelist_titlewrap}', else: 'h3')} class="title">{page.data.title}</{f:if(condition: '{data.tx_pagelist_titlewrap}', then: '{data.tx_pagelist_titlewrap}', else: 'h3')}>
        <f:if condition="{page.data.tx_pagelist_datetime}">
            <p class="info">
                <f:if condition="{page.data.tx_pagelist_datetime}">
                    <f:format.date format="j. M Y">{page.data.tx_pagelist_datetime}</f:format.date>
                </f:if>
                <f:if condition="{page.categories}">
                    <f:for each="{page.categories}" as="category" iteration="iterator">
                        <f:if condition="{iterator.isFirst} == 1">•</f:if> {category.data.title}
                        <f:if condition="{iterator.isLast} == 0">/</f:if>
                    </f:for>
                </f:if>
            </p>
        </f:if>
        <f:if condition="{data.tx_pagelist_disableabstract} == 0">
            <f:if condition="{page.data.abstract}">
                <p class="abstract">{page.data.abstract}</p>
            </f:if>
        </f:if>
    </f:link.page>
</div>
