<div class="item event{f:if(condition: '{data.tx_pagelist_disableimages} == 1', then: ' noimage')}{f:if(condition: '{data.tx_pagelist_disableabstract} == 1', then: ' nointroduction')}">
    <f:link.page pageUid="{page.data.uid}" target="{page.data.target}" title="{page.data.title}">
        <div class="text">
            <{f:if(condition: '{data.tx_pagelist_titlewrap}', then: '{data.tx_pagelist_titlewrap}', else: 'h3')} class="title">{page.data.title}</{f:if(condition: '{data.tx_pagelist_titlewrap}', then: '{data.tx_pagelist_titlewrap}', else: 'h3')}>
            <f:if condition="{page.data.tx_pagelist_eventlocation}">
                <p class="info location">
                    <f:if condition="{page.data.tx_pagelist_eventstart}">
                        <span class="dates">
                            <span class="day">
                                <f:format.date format="j.">{page.data.tx_pagelist_eventstart}</f:format.date>
                            </span>
                            <span class="month">
                                <f:format.date format="M">{page.data.tx_pagelist_eventstart}</f:format.date>, <f:format.date format="Y">{page.data.tx_pagelist_eventstart}</f:format.date>
                            </span>
                        </span>
                    </f:if>
                    ☉ {page.data.tx_pagelist_eventlocation}
                </p>
            </f:if>
            <f:if condition="{data.tx_pagelist_disableabstract} == 0">
                <f:if condition="{page.data.abstract}">
                    <p class="abstract">{page.data.abstract}</p>
                </f:if>
            </f:if>
        </div>
    </f:link.page>
</div>
