<ul class="pagination">
	<f:if condition="{pagination.previousPage}">
		<li class="previous">
			<f:link.page additionalParams="{pagelistPage: pagination.previousPage, pagelistElement: data.uid}" title="{f:translate(key:'pagination.previous')}"></f:link.page>
		</li>
	</f:if>
	<f:for each="{pagination.paginationPages}" as="currentPage" iteration="iterator">
		<f:if condition="{currentPage} == {pagination.current}">
			<f:then>
				<li class="current">
					{currentPage}
				</li>
			</f:then>
			<f:else>
				<li>
					<f:if condition="{iterator.isFirst}">
						<f:then>
							<f:link.page>{currentPage}</f:link.page>
						</f:then>
						<f:else>
							<f:link.page additionalParams="{pagelistPage: currentPage, pagelistElement: data.uid}">{currentPage}</f:link.page>
						</f:else>
					</f:if>
				</li>
			</f:else>
		</f:if>
	</f:for>
	<f:if condition="{pagination.nextPage}">
		<li class="next">
			<f:link.page additionalParams="{pagelistPage: pagination.nextPage, pagelistElement: data.uid}" title="{f:translate(key:'pagination.next')}"></f:link.page>
		</li>
	</f:if>
</ul>
