.pagelist * {
  box-sizing: border-box;
}

.pagelist {
  width: 100%;
  overflow: auto;
}

.pagelist img {
  width: 100%;
}

.pagelist.articles .card .img-dummy {
  background-color: #eee;
  width: 100%;
  height: auto;
}

.pagelist a:hover {
  text-decoration: none;
}

.pagelist a:hover img {
  opacity: 0.85;
}

.pagelist .article a p {
  color: #333;
}

/* card layout */

.pagelist .card {
  width: 30%;
  float: left;
  transition-property: width;
  transition-duration: 0.2s;
}

.pagelist .card a {
  float: left;
  width: 100%;
}

.pagelist .card a:hover {
  text-decoration: none;
}

.pagelist .card .title {
  padding: 0.2em 0;
  margin: 0;
  width: 100%;
}

.pagelist.cards .space {
  width: 5%;
  float: left;
  height: 1.5em;
  min-height: 1px;
}

.pagelist.cards .space:nth-child(3n) {
  width: 100%
}

/* article layout */

.pagelist-article-title {
  margin-top: 0.2em;
}

.pagelist .info {
  font-size: 0.85em;
  margin-bottom: 0.2em;
  opacity: 0.6;
}

/* less columns for smaller screens breakpoints controlled in TS constants*/

.pagelist.break-two .card {
  width: 47.5%
}

.pagelist.break-two.cards .space:nth-child(2n) {
  width: 5%
}

.pagelist.break-two.cards .space:nth-child(4n) {
  width: 100%
}

.pagelist.break-one .card {
  width: 100%
}

.pagelist.break-one.cards .space {
  display: block;
  width: 100%;
}
