.pagelist * {
  box-sizing: border-box;
}

.pagelist {
  width: 100%;
  overflow: auto;
}

.pagelist figure {
  overflow: hidden;
  display: block;
  line-height: 0;
  margin-bottom: 0.6em;
}

.pagelist img.image {
  width: 100%;
  transition: all 1.3s ease-in-out;
  overflow: hidden;
}

.pagelist .img-dummy {
  background-color: #eee;
  width: 100%;
  height: auto;
}

.pagelist a:hover {
  text-decoration: none;
}

.pagelist a p {
  color: #333;
}

.pagelist .info {
  font-size: 0.85em;
  margin-bottom: 0.2em;
  opacity: 0.7;
}

.pagelist .author {
  display: inline-block;
  margin-right: 0.5em;
}

.pagelist .author:last-child {
  margin-right: 0;
}

.pagelist .date {
  display: inline-block;
  margin-right: 0.5em;
}

.pagelist .author img {
  float: left;
  width: 1.5em;
  border-radius: .75em;
  margin-right: 0.5em;
}

.pagelist .abstract {
  margin-bottom: 0;
}

.pagelist .price {
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 0.5em;
}

.pagelist .product {
  width: 100%;
}

.pagelist .product figure {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.pagelist .product img {
  width: 100%;
  height: auto;
  margin-top: 0.9em;
}

.pagelist .product .text {
  float: left;
  width: 70%;
}

.pagelist .product.noimage .text {
  width: 100%;
}

/* card layout */
.pagelist.cards {
  margin-top: 1.5em;
}

.pagelist.cards a:hover img.image {
  transform: scale(1.1);
}

.pagelist .card {
  width: 30%;
  float: left;
  transition-property: width;
  transition-duration: 0.2s;
}

.pagelist .card a {
  float: left;
  width: 100%;
}

.pagelist .card a:hover {
  text-decoration: none;
}

.pagelist .card .title {
  padding: 0.2em 0;
  margin: 0;
  width: 100%;
}

.pagelist.cards .space {
  width: 5%;
  float: left;
  height: 2.5em;
  min-height: 1px;
}

.pagelist.cards .space:nth-child(3n) {
  width: 100%
}

.pagelist.list .item {
  margin-bottom: 1.5em;
  clear: both;
  float: left;
  width: 100%;
}

.pagelist.list div:last-of-type {
  margin-bottom: 0 !important;
}

.pagelist.list .title {
  margin-top: 0.2em;
}

/* Event speciffic */
.pagelist.list .event .text {
  margin-left: 5em;
  padding-left: 1em;
}

.pagelist.list .event .dates {
  width: 5em;
  text-align: center;
  float: left;
  background: #eee;
  padding: 0.9em 0.5em 0.6em;
  line-height: 1em;
  margin-top: 0.6em;
  margin-bottom: 0;
}

.pagelist.list .event .dates span {
  display: block;
}

.pagelist.list .event .dates .day {
  font-size: 1.8em;
  padding-bottom: 0.4em;
}

.pagelist.list .event .dates .month {
  font-size: 0.85em;
}

/* pagination */
ul.f3-widget-paginator {
  float: left;
  clear: both;
  width: 100%;
  list-style: none;
  margin: 0;
  margin-top: 2em;
}

ul.f3-widget-paginator>li {
  display: inline-block;
  margin: 0;
}

/* hide if only one page is present in pagination */
ul.f3-widget-paginator li:first-child:nth-last-child(1) {
  display: none;
}

ul.f3-widget-paginator>li>a, ul.f3-widget-paginator>li.current {
  display: inline-block;
  line-height: 1em;
  padding: 0.5em;
  background: #eee;
  margin-right: 0.2em;
}

/* Less columns for smaller width, breakpoints controlled in TS constants*/
.pagelist.break-two .card {
  width: 47.5%
}

.pagelist.break-two.cards .space:nth-child(2n) {
  width: 5%
}

.pagelist.break-two.cards .space:nth-child(4n) {
  width: 100%
}

.pagelist.break-one .card {
  width: 100%
}

.pagelist.break-one.cards .space {
  display: block;
  width: 100%;
}

.pagelist.cards .space:last-child {
  display: none;
}
