.pagelist * {
    box-sizing: border-box;
}

.pagelist-cards {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.pagelist-card {
    background-color: aliceblue;
    display: block;
    height: 100%;
}

.pagelist-card:hover {
    text-decoration: none;
}

.pagelist-card figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.pagelist-card-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.5em;
}

.pagelist-card-title {
    padding: 0.2em 0;
    margin: 0;
}

.pagelist-card-info,
.pagelist-card-categories {
    font-size: 0.85em;
    margin-bottom: 0;
    color: #000;
    display: block;
}

.pagelist-card-author {}

.pagelist-card-date {}

.pagelist-card-abstract {
    margin-bottom: 0;
}
